*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
scroll-behavior:smooth;
}

body{
background:#f7f7f7;
color:#333;
}

/* NAVBAR */
header{
width:100%;
padding:20px 8%;
background:white;
position:fixed;
top:0;
left:0;
z-index:1000;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:24px;
font-weight:bold;
color:#ff5c8a;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav ul li a{
text-decoration:none;
color:#333;
font-weight:500;
transition:0.3s;
}

nav ul li a:hover{
color:#ff5c8a;
}

/* HERO */
.hero{
min-height:100vh;
display:flex;
justify-content:space-between;
align-items:center;
padding:120px 8%;
background:#fff0f5;
}

.hero-text{
max-width:500px;
}

.hero-text p{
font-size:18px;
margin-bottom:15px;
}

.hero-text h1{
font-size:55px;
margin-bottom:15px;
}

.hero-text span{
color:#ff5c8a;
}

.btn{
display:inline-block;
padding:12px 28px;
background:#ff5c8a;
color:white;
text-decoration:none;
border-radius:30px;
margin-top:20px;
transition:0.3s;
}

.btn:hover{
background:#e24c76;
transform:scale(1.05);
}

.social{
margin-top:30px;
}

.social a{
font-size:22px;
color:#ff5c8a;
margin-right:15px;
transition:0.3s;
}

.social a:hover{
color:#333;
}

/* FOTO */
.hero-img img{
width: 100px;px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

/* SECTION */
.section{
padding:100px 8%;
text-align:center;
}

.section h2{
font-size:40px;
margin-bottom:20px;
color:#ff5c8a;
}

.section p{
font-size:18px;
line-height:1.7;
}

.pink{
background:#fff0f5;
}

/* FOOTER */
footer{
padding:25px;
text-align:center;
background:white;
}

/* RESPONSIVE */
@media(max-width:900px){

.hero{
flex-direction:column-reverse;
text-align:center;
padding-top:150px;
}

.hero-img img{
width:280px;
margin-bottom:30px;
}

nav ul{
display:none;
}

.hero-text h1{
font-size:42px;
}

}